{{define "css"}}
    <link rel="stylesheet" href="/static/css/become_venue_owner.css">
{{end}}

{{define "content"}}
<section class="banner">
    <div class="banner-wrap">
        <h2 class="banner-title">
            提升空間利用，實現比月租更豐厚的收益
        </h2>
        <p>
            RentJoy讓您出租閒置時段的空間，吸引有針對性的客戶群，透過便捷的後台管理系統，創造額外的收益機會！
        </p>
        <a href="/SignUp" class="orangeRoundBtn">立即註冊</a>
    </div>
</section>

<section class="features">
    <div class="features-container">
        <div class="features-row">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/static/images/featureicon-01.png" alt="" />
                </div>
                <div class="feature-text">
                    <h3>
                        接單簡易
                    </h3>
                    <p>
                        客人的詢問及訂單可以在後台輕鬆管理，訂單不漏接！
                    </p>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/static/images/featureicon-02.png" alt="" />
                </div>
                <div class="feature-text">
                    <h3>
                        精準發掘潛在客群
                    </h3>
                    <p>
                        每月擁有30,000名以上的使用者，輕鬆接觸潛在客群，達到精準行銷！
                    </p>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/static/images/featureicon-03.png" alt="" />
                </div>
                <div class="feature-text">
                    <h3>
                        增加額外收入
                    </h3>
                    <p>
                        閒置的空間以時段出租，可帶來比月租更多的收入！
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq faq-view">
    <div class="qa-wrap">
        <h3 class="qa-title">刊登場地常見問題</h3>
        <article>
            <details>
                <summary>
                    <p>刊登場地需要付費嗎？</p>
                </summary>
                <p>
                    在 RentJoy 刊登場地資訊是免費的，您只需申請成為 RentJoy
                    的會員，登入「場地管理」後台後，點選「新增空間」，依步驟所示輸入您的場地資料即可送出刊登申請。
                </p>
            </details>
            <details>
                <summary>
                    <p>資料撰寫完成後，系統顯示需要審核通過才能上架，是怎麼回事呢？</p>
                </summary>
                <p>
                    在您輸入完資料之後，RentJoy
                    的服務人員會審核您的場地資料，查看是否有缺漏或是錯誤的地方，審核無誤後就會自動開通上線。一般而言，審核需要七至十個工作天，如果審核後發現資料內容有誤，會寄發通知至您的<a href="#">場地後台</a>，請再依照指示修正您的場地資訊。
                </p>
            </details>
            <details>
                <summary>
                    <p>如果客戶填寫「我有問題」表單，我們會怎麼收到通知？要怎麼處理？</p>
                </summary>
                <p>
                    客戶填寫完表單送出後，RentJoy會立即將客戶資料寄發到您的聯絡信箱，不論是否同意租借，都務必請場地單位於24小時內主動聯繫客戶（電話/簡訊/Email皆可），告知客戶場地預約處理的狀況。
                </p>
            </details>
            <details>
                <summary>
                    <p>我的場地在很後面，排序怎麼決定的？有什麼辦法可以排前面一點嗎？</p>
                </summary>
                <p>RentJoy 會精算使用者的點擊率、瀏覽時間、預訂率、成交率、資料完整度及客戶評價等等資料，做為排序的參考依據。</p>
            </details>
            <details>
                <summary>
                    <p>成交服務費怎麼收？怎麼判斷是從 RentJoy 來的呢？</p>
                </summary>
                <p>
                    客人點選「線上預訂」下訂場地，在預訂過程中會先透過藍新金流預授權信用卡，並於場地主接受訂單後扣款。RentJoy 每月會將上個月份的場租費用總結，扣掉
                    15% 成交服務費後，將剩餘款項匯入您的帳戶。
                </p>
            </details>
        </article>
    </div>
</section>

<section class="slogan">
    <h3>
        刊登場地，成為場地主！
    </h3>
    <a href="/SignUp" class="orangeRoundBtn">立即註冊</a>
</section>
{{end}}
{{define "js"}}{{end}}