{{define "css"}}
    <link href="/static/css/managepage.css" rel="stylesheet" />
    <link href="/static/css/manage_venues.css" rel="stylesheet" />
{{end}}

{{define "content"}}
<section class="content">
    <div class="title">
        <img src="/static/images/area-manage-icon.svg" alt="area">
        <h2>預訂單管理</h2>
    </div>
    <div class="manage-list">
        <ul>
            <li class="order">
                <a href="/Manage/ReservedManagement">預訂單</a>
            </li>
            <li class="my-space selected">
                <a href="/Manage/VenueManagement">我的空間</a>
            </li>
        </ul>
    </div>
    <div class="space-add">
        <a href="">
            <div class="icon">
                <img src="/static/images/add-time-price-button.svg" alt="">
            </div>
            <p>新增空間</p>
        </a>
    </div>
    <div class=" card-item">
        {{if ne (len .PublishedVenues) 0}}
        <p>已上架的場地</p>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
            {{range .PublishedVenues}}
                <div class="col">
                    <div class="card">
                        <img src="{{.ImgUrl}}" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-between">
                            <div class="card-content">
                                <h5 class="card-title">{{.VenueName}}</h5>
                                <p class="card-text">
                                    {{.VenueManager}}
                                </p>
                            </div>
                            <div class="card-func">
                                <div class="func-nav-icon">
                                    <img src="/static/images/expand-button.svg" alt="">
                                </div>
                                <div class="func-list">
                                    <a href="/Manage/EditVenue?venueId={{.VenueId}}">
                                        <div class="func">編輯</div>
                                    </a>
                                    <a href="/Manage/DelistVenue?venueId={{.VenueId}}">
                                        <div class="func">下架</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        {{end}}
        {{if ne (len .DelistVenues) 0}}
        <p>已下架的場地</p>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
            {{range .DelistVenues}}
                <div class="col">
                    <div class="card">
                        <img src="{{.ImgUrl}}" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-between">
                            <div class="card-content">
                                <h5 class="card-title">{{.VenueName}}</h5>
                                <p class="card-text">
                                    {{.VenueManager}}
                                </p>
                            </div>
                            <div class="card-func">
                                <div class="func-nav-icon">
                                    <img src="/static/images/expand-button.svg" alt="">
                                </div>
                                <div class="func-list">
                                    <a href="/Manage/EditVenue?venueId={{.VenueId}}">
                                        <div class="func">編輯</div>
                                    </a>
                                    <a href="/Manage/DeleteVenue?venueId={{.VenueId}}">
                                        <div class="func">刪除</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        {{end}}
        {{if ne (len .RejectedVenues) 0}}
        <p>審核失敗的場地</p>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
            {{range .RejectedVenues}}
                <div class="col">
                    <div class="card">
                        <img src="{{.ImgUrl}}" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-between">
                            <div class="card-content">
                                <h5 class="card-title">{{.VenueName}}</h5>
                                <p class="card-text">
                                    {{.VenueManager}}
                                </p>
                            </div>
                            <div class="card-func">
                                <div class="func-nav-icon">
                                    <img src="/static/images/expand-button.svg" alt="">
                                </div>
                                <div class="func-list">
                                    <a href="/Manage/EditVenue?venueId={{.VenueId}}">
                                        <div class="func">編輯</div>
                                    </a>
                                    <a href="/Manage/DeleteVenue?venueId={{.VenueId}}">
                                        <div class="func">刪除</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        {{end}}
        {{if ne (len .ProcessingVenues) 0}}
        <p>審核中的場地</p>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
            {{range .ProcessingVenues}}
                <div class="col">
                    <div class="card">
                        <img src="{{.ImgUrl}}" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-between">
                            <div class="card-content">
                                <h5 class="card-title">{{.VenueName}}</h5>
                                <p class="card-text">
                                    {{.VenueManager}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        {{end}}
    </div>
</div>

</section>
{{end}}

{{define "js"}}
<script src="/static/js/manage_venues.js"></script>
{{end}}