{{define "css"}}
    <link href="/static/css/terms.css" rel="stylesheet" />
{{end}}

{{define "content"}}
<div class="rules-container">
    <div class="rules-row">
        <div class="menu">
            <nav class="menu-content">
                <ul>
                    <li>
                        <a href="/UserRules" class="link">使用者條款</a>
                    </li>
                    <li>
                        <a href="/Policy" class="link">隱私權保護政策</a>
                    </li>
                    <li>
                        <a href="/OrderRules" class="link-now">線上預訂條約</a>
                    </li>
                </ul>
            </nav>
        </div>
        <article class="rules-article">
            <h2 class="article-title">RentJoy 線上預訂條約</h2>
            <section class="rules-section">
                <h3 class="rules-title">訂單資訊相關</h3>
                <ol>
                    <li>
                        為了維護您自身的權益，送出訂單前請確認場地名稱、租借日期、時間、聯絡電話及電子郵件等資訊填寫無誤。
                    </li>
                    <li>送出預訂單並不代表訂單成立，訂單需通過場地主審核並接受後才正式成立。若場地主超過 48 小時未處理訂單，該訂單將由系統自動拒絕。</li>
                    <li>預訂送出後，可以使用預訂人的電子郵件或電話於 RentJoy 網頁查詢預訂單狀態，亦可透過預約通知信中所提供的資訊聯絡場地主。</li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">付款流程相關</h3>
                <ol>
                    <li>
                        線上刷卡的交易由藍新金流服務平台進行，RentJoy 不會儲存任何信用卡資訊。
                    </li>
                    <li>
                        送出預訂單後，您會收到由藍新金流所發出的付款完成通知信，此時信用卡僅先授權額度，待場地主接受訂單後才會正式扣款；若場地主拒絕訂單，藍新金流將取消刷卡授權並退還額度。歸還額度的時程依發卡銀行作業時間不同，詳情請向銀行確認。
                    </li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">使用場地相關</h3>
                <ol>
                    <li>
                        RentJoy 挑場地僅提供場地主與活動者之租借媒合線上服務，平台上的所有場地皆為場地主自有自營之場地：
                    </li>
                    <ul>
                        <li>
                            RentJoy 無法代為聯繫或確認場地資訊，請使用預約通知信內的場地連絡電話向場地主確認租借事宜。
                        </li>
                        <li>
                            請詳閱並遵守場地主的場地規範及退款條約，使用場地時請注意自身安全。
                        </li>
                        <li>
                            RentJoy 暫無提供代開發票的服務，場租費用的發票請向場地主聯絡索取。
                        </li>
                        <li>
                            惡意破壞與偷竊及從事不法，請自行負起相關法律責任認與追究賠償。
                        </li>
                        <li>
                            退款、取消規範由各場地主自行制訂，若須取消、退款，請先向場地主聯繫。
                        </li>
                    </ul>
                </ol>
            </section>
        </article>
    </div>
</div>
{{end}}
{{define "js"}}{{end}}