{{define "css"}}
    <link href="/static/css/terms.css" rel="stylesheet" />
{{end}}

{{define "content"}}
<div class="rules-container">
    <div class="rules-row">
        <div class="menu">
            <nav class="menu-content col-md-2 col-lg-2 col-xl-2">
                <ul>
                    <li>
                        <a href="/UserRules" class="link">使用者條款</a>
                        </li>
                    <li>
                        <a href="/Policy" class="link-now">隱私權保護政策</a>
                        </li>
                    <li>
                        <a href="/OrderRules" class="link">線上預訂條約</a>
                    </li>
                </ul>
            </nav>
        </div>
        <article class="rules-article">
            <h2 class="article-title">RentJoy 隱私權保護政策</h2>
            <section class="rules-section">
                <p>
                    RentJoy網站(以下稱「本網站」)為BS股份有限公司（以下稱「本公司」）所有及營運之空間租賃服務網站，本公司透過本網站提供線上租賃服務，並出租實體空間（以下稱「租賃空間」）予使用者（以下合稱「本服務」，本服務亦包括本公司提供之相關客戶服務）。為確保使用者於使用本網站及/或本服務時，其隱私權及相關權利不受侵害，本公司將遵循相關法規之要求保護本公司所取得之個人資料。
                </p>
                <p>
                    本隱私權保護政策為本公司蒐集、處理、利用及保存個人資料之相關規範。您得自由選擇是否提供個人資料予本網站及本公司，惟一旦您拒絕提供完成註冊、使用本網站及/或本服務所需之必要資料，或所提供之資料不完整或不正確，將導致本服務無法執行，而無法使用本網站及/或本服務。
                </p>
                <p>
                    一旦您開始使用本網站及/或本服務，即表示您已閱讀、瞭解並同意本公司依照本隱私權保護政策蒐集、處理、利用及保存您的個人資料。您應確保與您共同使用租賃空間之人已充分閱讀及理解本隱私權保護政策，並同意本公司依本隱私權保護政策蒐集、處理、利用及保存其個人資料。
                </p>
                <p>
                    本公司保有不定期更新、修改與補充本隱私權保護政策之權利。您應於註冊及/或使用本網站及/或本服務前仔細閱讀本隱私權保護政策之全部條款，並定期檢閱本網站有關隱私權保護政策之更新公告。如您不同意本隱私權保護政策之內容或不同意本公司得隨時修改之，請您立即停止使用本網站及/或本服務。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">蒐集目的</h3>
                <ol>
                    <li>提供本服務</li>
                    <li>消費者、客戶管理與服務</li>
                    <li>網路購物及其他電子商務服務</li>
                    <li>本網站或本公司為遵守法規、業務、財務、稅賦、營運或風險管理所為之行為（包括但不限於自行或共同行銷、統計調查與分析、內部控制、管理與查核等）</li>
                    <li>及場所進出安全管理及犯罪預防。</li>
                </ol>

                <p>
                    上述目的之類別，法定代號包含：069契約、類似契約或其他法律關係事務、040行銷、090消費者、客戶管理與服務、148網路購物及其他電子商務服務及157調查、統計與研究分析、116場所進出安全管理及025犯罪預防。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">蒐集方式</h3>
                <p>
                    本公司將於您使用本網站及/或本服務時，透過您的電腦、手機或其他裝置蒐集您的資訊。本公司亦將於使用者使用本服務時，蒐集以其他任何方式（包括但不限於租賃空間之監視攝影機、大樓訪客登記簿或提供身分證件等）提供予本公司之任何您或他人之資訊。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">資料蒐集種類</h3>
                <p>當您使用本網站及/或本服務時，本公司將蒐集以下資料：</p>
                <ol>
                    <li>身分資料，例如：姓名、電話、電子信箱、地址等；</li>
                    <li>特徵資料，例如：性別、年齡、出生日期及國籍等；</li>
                    <li>帳戶資訊，例如：使用者帳號及密碼；及</li>
                    <li>財務資訊，例如：信用卡號、簽帳卡號、銀行帳號及交易資訊。</li>
                </ol>
                <p>上述資料之類別，法定代號包含：C001辨識個人者、C002辨識財務者、C003政府資料中之辨識者、C011個人描述、C102約定或契約。</p>
                <p>本公司亦將透過租賃空間內設置之監視攝影機取得您及其他租賃空間使用人於租賃空間之錄影</p>
                <p>
                    您可能提供本公司由第三方儲存之個人資料（例如：社群媒體）。本公司能取得之資訊視不同之第三方網站及您對該網站或應用程式之隱私權設定而有所不同。一旦您將本公司連接第三方管理之帳戶相連，並授權本公司存取資訊，您即同意本公司得依本隱私權保護政策蒐集、處理、利用及保存該等資訊。
                </p>
                <p>
                    本公司將自動蒐集您使用本網站及/或本服務時，所使用之電腦、設備及瀏覽之相關資訊。該等資訊將集結為提供使用者瀏覽行動與模式之統計資料，並非針對個人使用。該等資訊包括電腦或行動裝置資訊（包括但不限於識別碼、裝置名稱與類型、啟動系統、作業系統、IP位置、地點、行動網路資訊及一般網頁登入資訊（例如：瀏覽類型、網站流量及您存取之網頁））。
                </p>
                <p>本公司未將本網站及本服務提供予未成年人。本公司無意蒐集未成年人之個人資料。如本公司發現偶然取得未成年人之個人資料，本公司將刪除該等資料。</p>
                <p>本公司未在歐盟(EU)或歐洲經濟區(EEA)之國家或地區提供本網站及/或本服務。本公司無意蒐集任何位於歐盟、歐洲經濟區之個人資料。如本公司發現偶然取得該等個人資料，本公司將予以刪除。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">期限與地區</h3>
                <ol>
                    <li>期限：以下列期間較長者為準。</li>
                    <ul>
                        <li>蒐集個人資料特定目的之持續期間；</li>
                        <li>依法或依契約約定之資料留存屆滿期限；</li>
                        <li>本公司訂定之屆滿期限；</li>
                        <li>個人資料當事人要求停止使用；</li>
                        <li>本公司停止提供本服務之日止。</li>
                    </ul>
                    <li>地區：台灣及任何本服務所及之地區，包含日後於台灣以外，依本公司之商業判斷而有必要使用該等個人資料之地區。</li>

                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">利用對象與方法</h3>
                <p>除以下利用方式外，本公司在未取得您的同意前，不會利用您的個人資料：</p>
                <ol>
                    <li>
                        個人資料將用於使用者管理功能，並將作為辨識身分、金流服務、物流服務、行銷宣傳及為推展本服務之必要範圍內而為之身分辨識。使用者個人關於本服務之使用記錄，亦將作為修改、變更、擴張本服務內容與項目之開發基礎。
                    </li>
                    <li>
                        個人資料將作為各種推播資訊、個人化服務及市場調查之基礎，包含但不限於透過電子郵件、實體郵件、電話及簡訊等方式提供與本網站及/或本網站相關之合作廠商資訊、分析，與統整使用者族群特性、調查使用頻率與回流資訊等應用。
                    </li>
                    <li>基於推廣本服務之業務需求，而由本公司以電腦化或其他相類之數據方式處理、利用之行為。</li>
                    <li>防範及調查可能之違法活動及/或對使用者條款之違反，監測帳戶可能發生之違規事件及/或可能傷害 RentJoy 、本公司或使用者之惡意軟體或其他活動。</li>
                    <li>租賃空間內之監視錄影內容將用於場所進出安全管理及犯罪預防</li>
                    <li>
                        當您註冊成為本網站使用者時，您亦同意本公司得將使用者之個人資料，揭露、分享或提供予與本公司具備契約上合作關係之第三方及其關係企業、與本公司進行共同行銷或共同促銷之合作對象、與本公司有商業接觸或業務往來之任何其他機構、希望向本公司取得或轉讓本公司任何資產與負債、承受風險或進行合併之人，進行以下處理與利用：
                    </li>
                    <ul>
                        <li>作為第三方各種推播資訊之基礎，包含但不限於透過電子郵件、實體郵件、電話與簡訊等方式提供第三方或其關係企業之行銷資訊；</li>
                        <li>作為第三方或其關係企業優化服務內容之市場調查依據，並得與其內部之管理系統結合、匯入、建檔或以一定之方式備份、留存；及</li>
                        <li>
                            其他經本公司與該第三方或其關係企業透過契約方式具體明列之其他處理或利用方式。如有上述情況，本公司於法律要求之程度內，應透過一定之約定或政策機制，確保該第三方或其關係企業應以不低於本隱私權保護政策所要求之個人資料安全或維護標準，保護使用者之隱私權。
                        </li>
                    </ul>
                    <li>為促進紛爭解決，本公司於必要時亦得將您的個人資料（例如：提供聯絡資訊）提供予其他使用者；</li>
                    <li>如本公司認定有必要揭露您的個人資料，以避免人身傷害或財物損失、通報可疑違法行為或調查對本公司使用者條款之違規情形，本公司亦得揭露您的個人資料。</li>
                    <li>其他符合法規之利用。</li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">使用者就個人資料之權利</h3>
                <p>您得就所提供之個人資料行使下列權利：</p>
                <ol>
                    <li>查詢或要求審閱或複製您的個人資料。本公司得依法收取必要之成本與費用。</li>
                    <li>要求本公司補充或更正您的個人資料。行使本項權利時，您應依法提出合理解釋。</li>
                    <li>要求本公司停止蒐集、處理或使用、或刪除您的個人資料。</li>
                </ol>
                <p>若您希望行使上述權利，您可與本公司客服連絡提出申請，本公司將根據您的要求處理。然於本公司尚未查證您為本人前，得拒絕您申請查詢、複製、請求閱覽或申請變動個人資料及帳號內容。</p>
                <p>您可隨時依據前述規定，要求停止蒐集、處理、利用或刪除屬於您的個人資料，然資料一旦經停止蒐集、處理、利用或刪除者，本公司有權終止您對本服務之使用權限。</p>
                <p>您瞭解並同意，基於本公司之營運及業務執行性質，維護建立穩定可靠之用戶審核機制為本公司執行職務或業務之必要行為。於您請求變更、刪除或異動個人資料時，如本公司認定此舉將妨害國家重大利益、公務機關執行法定職務、蒐集機關或第三人重大利益，或本公司因執行職務或業務之必要而需繼續保留您的個人資料時，本公司有權拒絕之，並視情況可能改以其他方式（例如：封存您的個人資料或將您的資料去識別化）處理，待日後前述情況消失後，再依該用戶之請求變更、刪除或異動您的個人資料。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">個人資料之維護</h3>
                <p>為保護您的隱私，本公司將依法提供合理之技術及措施保護個人資料，以避免個人資料之喪失、誤用、未經授權使用、存取、揭露、變更或毀損（例如：採用防火牆及數據加密、建築門禁或資料存取限制等物理上控管、僅將個人資料對職務上有必要知悉之員工開放）。</p>
                <p>使用者應自行妥善保管註冊帳號及密碼等本網站帳戶資訊，以避免他人未經授權存取您的帳戶。請盡量不使用公開場所中之公共電腦或與他人共用之電腦存取及/或使用本網站；如您必須使用公共電腦或與他人共用之電腦存取及/或使用本網站，切記於使用後登出您的帳號並刪除您的個人資料。您必須自行維護您的信用卡/簽帳金融卡之機密安全。如您的個人資料遭到盜用或存在其他任何安全問題，您應立即通知本公司。</p>
                <p>除依政府或法令要求，以及依本隱私權保護政策而得將資料分享或提供予第三方使用外，本公司將對個人資料負保密義務。</p>
                <p>依本隱私權保護政策得取得、分享、利用使用者個人資料之第三方，本公司亦將比照前述之個人資料維護要求，使第三方對使用者之個人資料負擔一定之保密與維護義務。然因可歸責於第三方自身之行為，造成使用者權益受損者，本公司除應協助使用者向第三方主張法律上之權利外，概不負擔任何賠償責任。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">Cookie</h3>
                <p>本公司可能會執行「Cookie」或其他功能，使本公司或第三方能夠蒐集或分享資訊，進而協助本公司改進本網站及/或本服務，或協助本公司提供新服務及/或功能。「Cookie」係本公司傳送至您的電腦或行動裝置之識別碼，可以讓本公司識別您的電腦或裝置，同時提供本公司或本服務之使用或造訪方式及時間、造訪人次，並追蹤本網站之活動，且本公司可能會將Cookie資訊連結個人資料。</p>
                <p>您可選擇瀏覽器上之適當設定以拒絕Cookie之使用，惟拒絕使用Cookie可能使您無法使用本網站及/或本服務之完整功能。</p>
                <p>您同意本公司有權允許在本網站及/或本公司相關網頁上刊登廣告之第三方，在您的電腦、手機或其他設備上設定並存取Cookie，該等第三方將根據其自訂之隱私權保護政策使用其Cookie。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">監視攝影機</h3>
                <p>
                    您知悉並充分理解，本公司為維護租賃空間之安全性及避免違法活動，已於租賃空間中裝設監視攝影機進行錄影(未錄音)，除因前述目的而有調查錄影內容或其他需延長保存之需求，本公司將保存錄影內容至調查結束或主管機關要求之保存期限外，本公司將一律保存錄影內容至少7日（或法令要求之其他期限）。您應確保與您共同使用租賃空間之人已充分理解該租賃空間已設置監視攝影機，並同意本公司依前述目的及方式，錄製您與其使用該租賃空間時之影像及保存該錄影內容。您同意並理解，您於本網站預訂租賃本公司出租之租賃空間時，即代表您已同意本公司於您使用租賃空間時進行錄影，並保存相關錄影內容。
                </p>
                <p>
                    除經您以及與您共同使用租賃空間之人之同意，本公司不會使用、公開您的錄影紀錄，或將該錄影紀錄與他人分享。惟您瞭解並同意，本公司基於以下目的之合理必要範圍內，認定必須將與您相關之錄影內容加以保存或揭露予政府機關、司法機關、未成年人之監護人或他人時，得依本公司決定之方式逕自加以保存及揭露：
                </p>
                <ul>
                    <li>為遵守法令或政府機關之要求；</li>
                    <li>為防止他人權益之重大危害而有必要；</li>
                    <li>為免除使用租賃空間之人及公眾之生命、身體、自由、權利、財產上之急迫危險；</li>
                    <li>為協助釐清爭議或糾紛之責任歸屬；及/或其他本公司認為有必要的情況。</li>
                </ul>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">隱私權保護政策修訂</h3>
                <p>本公司有權隨時修訂隱私權保護政策，且使用者有義務隨時確認其已審閱最新版本之隱私權保護政策。如法律要求，本公司將通知您隱私權保護政策之變更，通知方式得為口頭、書面，或經由電話、簡訊、電子郵件、傳真、電子文件或網站公告，或足以令您知悉或理解修正內容之任何其他方式（包括但不限於以上述方式提供途徑，進入揭露修正後規定之任何網頁）。</p>
                <p>如您對於本隱私權保護政策或與個人資料相關之事項有任何疑問，歡迎利用本公司客服與本公司聯絡。</p>
            </section>
        </article>
    </div>
</div>
{{end}}
{{define "js"}}{{end}}