{{define "css"}}
    <link href="/static/css/terms.css" rel="stylesheet" />
{{end}}

{{define "content"}}
<div class="rules-container">
    <div class="rules-row">
        <div class="menu">
            <nav class="menu-content">
                <ul>
                    <li>
                        <a href="/UserRules" class="link-now">使用者條款</a>
                    </li>
                    <li>
                        <a href="/Policy" class="link">隱私權保護政策</a>
                    </li>
                    <li>
                        <a href="/OrderRules" class="link">線上預訂條約</a>
                    </li>
                </ul>
            </nav>
        </div>
        <article class="rules-article">
            <h2 class="article-title">RentJoy 使用者條款</h2>
            <section class="rules-section">
                <p>RentJoy網站 (以下稱「本網站」)為BS股份有限公司（以下稱「本公司」）所有及營運之空間租賃服務網站，本公司透過本網站提供線上租賃服務，並出租實體空間（以下稱「租賃空間」）予使用者（以下合稱「本服務」，本服務亦包括本公司提供之相關客戶服務，以下同）。當您於本網站完成註冊及/或使用本服務，即表示您已閱讀、瞭解、同意接受並遵守下列使用者條款 (以下稱「本使用者條款」)。本公司保有不定期更新、修改與補充使用者條款之權利。您應於註冊及/或使用本網站及/或本服務前仔細閱讀本使用者條款之全部條款，並定期檢閱本網站有關使用者條款之更新公告。如您不同意本使用者條款之內容或不同意本公司得隨時修改之，請您立即停止使用本網站及/或本服務。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">一經註冊及/或使用本服務，即表示您聲明並保證：</h3>
                <ol>
                    <li>
                        您是具備完全權利能力和行為能力的自然人、法人或其他組織，並已接受本使用者條款，且依法有權為之。如您不具備前述主體資格，則您及您的法定代理人應承擔因此而導致的一切後果，且本公司有權註銷或永久凍結您在本網站之帳戶（以下稱「本網站帳戶」），並就本公司所受之任何損害及損失向您及您的法定代理人索賠；
                    </li>
                    <li>依照相關法規，您有權使用本服務；</li>
                    <li>您的本網站帳戶現未遭停權或刪除；</li>
                    <li>您提供予本網站之資料皆為真實且完整，並將依本公司之請求適時更新；</li>
                    <li>在法規許可範圍內，您同意本公司得為遵守相關法律或依相關法律之強制規定，使用您的資料經營本網站及/或提供本服務；</li>
                    <li>
                        您不為任何不法目的使用本網站本服務及/或本網站帳戶，諸如非法賭博、洗錢、詐欺、勒索、資助恐怖主義等，亦不得使用本網站、本服務或本網站帳戶進行任何不正當或有損本公司商譽或信譽之活動；
                    </li>
                    <li>您將遵守法規及一切使用網際網路之國際慣例，並不得利用本網站從事任何侵害他人權益之行為；</li>
                    <li>您已確認使用本網站及/或提供本服務時您應適用之任何法規，如違反任何應適用之法規，您將自行負擔相關法律責任；</li>
                    <li>
                        您將為您帳戶下之所有活動負責，如第三人經您同意或因可歸責於您之事由使用您的帳戶進行任何活動，您須為該第三人之行為負責。如您的帳戶因下列情事而致本公司受有任何損失或損害，本公司並得向您請求損害賠償（包含但不限於訴訟費用、律師費及商譽損失）：
                    </li>
                    <ul>
                        <li>違反本使用者條款；</li>
                        <li>使用或錯誤使用本網站及/或本服務；</li>
                        <li>違反任何相關法規。</li>
                    </ul>
                </ol>
                <p>在您使用本服務及/或本網站帳戶前，本公司得要求您提供個人資料以進行身分確認。</p>
                <p>
                    任何本網站帳戶持有人（以下稱「會員」），如違反本使用者條款之任何規定，即可能被凍結、取消或終止任何本網站帳戶，且本公司有權逕行暫停、取消或終止對該會員提供之本服務，且嗣後應對本公司或本網站其他使用者所發生之任何損害及損失負賠償責任。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title text-danger">訂單稍後付款規範</h3>
                <ol>
                    <li>
                        訂單稍後付款
                        <span class="text-danger">僅保留24hr的時間</span>，時間到才會轉跳訂單狀態「處理中」為「已取消」，在時間內可保留訂單，隨時立即付款，享有RentJoy帶給您的美好便利服務，<span class="text-danger">但不得於租借當天才結帳訂單。</span>
                    </li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">有限授權</h3>
                <p>
                    本公司授權您存取及/或使用本網站及/或使用本服務，該授權為有限、非專屬及不可移轉之權利，惟本公司有權將所有權利、利益或義務移轉予他人，本使用者條款應對本公司之繼受人或受讓人發生全部效力。您僅可基於本使用者條款預訂之目的，或其他本公司明文允許之目的存取及/或使用本網站，且您僅得基於法規允許之目的使用本服務。除基於前述目的外，任何基於其他目的之使用皆應禁止。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">使用者行為規範</h3>
                <p>存取及使用本網站時，您承諾不為下列行為：</p>
                <ol>
                    <li>
                        侵入本網站，或對本網站進行反組譯、還原工程、解譯、解碼或以其他方式取得原始碼，或以機器人帳戶或其他技術方法，變更、刪除、破壞本網站之資料、內容或設備，或對本網站之經營造成不良影響；
                    </li>
                    <li>就本網站進行修改、改寫、改善、強化、翻譯或製作衍生著作，或未經授權使用本公司之專有資訊或智慧財產權；</li>
                    <li>移除、變更或隱蔽本公司或其供應商、合作夥伴、授權人之資訊；</li>
                    <li>基於任何未被允許之目的使用本網站及/或本服務；</li>
                    <li>利用網路或其他方式自行對外提供本服務，或同時註冊或使用兩個以上的帳號；</li>
                    <li>在未經該他人同意之情況下，藉由本網站設計存在之漏洞，或以越過、破壞本網站安全維護機制等其他技術方法，變更、刪除或蒐集他人之個人資料；</li>
                    <li>獲取或試圖未經授權存取或使用本網站、他人之本網站帳戶或其他本服務之內容，或企圖教唆、幫助他人為之；</li>
                    <li>於本網站使用或試圖使用網路蜘蛛，或上傳包含病毒、木馬程式或蠕蟲之任何資料；</li>
                    <li>造成本網站基礎設備不成比例的大流量；</li>
                    <li>冒用他人名義使用本網站及/或本服務；</li>
                    <li>惡意修改租賃訂單或其他干擾或損害本網站或本公司之作業之行為；</li>
                    <li>違反使用者條款；</li>
                    <li>其他違反法令、侵害其他使用者權益、破壞或干擾本網站正常營運之行為。</li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">租賃空間使用規範</h3>
                <p>使用本服務時，您承諾使用租賃空間時不為涉及以下事項之行為：</p>
                <ol>
                    <li>猥褻、色情、有害兒童及少年身心健康、性騷擾或違反公序良俗；</li>
                    <li>侮辱、毀謗、侵害隱私權、智慧財產權；</li>
                    <li>暴力、恐嚇、威脅、教唆犯罪；</li>
                    <li>發布傳染病流行疫情或其他影響社會秩序之謠言或不實訊息；</li>
                    <li>賭博、毒品販售、菸酒販售或廣告、或進行其他違禁物交易；</li>
                    <li>洗錢、資助恐怖主義；</li>
                    <li>有價證券或金融商品分析意見、推介建議、代為操作、影響價格，或非法收受存款；</li>
                    <li>藥品或醫療器材販售或廣告宣傳、醫療廣告、醫療諮詢；</li>
                    <li>以任何方式破壞或變更租賃空間之密碼設備；</li>
                    <li>烹飪、點燃明火（包括但不限於使用薰香或蠟燭）、攜帶危險物品、製造噪音或其他妨礙安寧（包括但不限於使用麥克風等擴音設備，或進行唱歌、樂器演奏等活動）之行為；</li>
                    <li>吸食菸品或類似產品（包括但不限於香菸、電子菸及水煙）、吸食毒品；</li>
                    <li>攜帶動物（障礙輔助犬，例如：導盲犬、導聾犬或其他輔助犬不在此限）；</li>
                    <li>未經本公司事前同意之行為；</li>
                    <li>提早進入或逾時滯留於租賃空間；</li>
                    <li>將租賃空間內家具設備搬出、將個人物品占用公共區域，或破壞或毀損租賃空間或製造髒亂（例如：未保持清潔租賃空間清潔、未回復租賃空間之桌椅、設備擺設或未依規定丟棄垃圾等）；</li>
                    <li>殯葬禮儀服務﹑活動與行為。（包含但不限於招魂超渡﹑追思會﹑驅邪法會﹑模擬殯葬禮儀之拍攝等活動，及攜帶骨灰罈、神主牌等殯葬相關物品。）</li>
                    <li>違反使用者條款；</li>
                    <li>其他違反法令、侵害他人權益、阻礙或干擾本公司提供本服務之行為。</li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">智慧財產權之保護</h3>
                <p>
                    本網站所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權（包括但不限於商標權、專利權、著作權、營業秘密）。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。如您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本網站或其他權利人的事前書面同意。如有違反前述規定，您應對本公司負損害賠償責任。
                </p>
                <p>會員保證於使用本服務時，不為任何違法或侵權情事。如有違反，會員應自行承擔一切相關之民刑事法律責任，而與本公司無涉。如本公司因此蒙受任何損害或損失，並得向會員請求損害賠償。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">帳戶管理</h3>
                <p>您得隨時終止與本公司間之協議，關閉您的本網站帳戶，並處理完您未完成的帳戶活動。</p>
                <p>
                    本公司高度重視本網站與本服務安全之維持。當您在本網站註冊，即代表您同意於註冊時提供您最新且正確的個人資訊，並同意持續更新您的個人資訊。若您提供任何錯誤或不實之資料，除您必須自行負擔因此而造成之損失外，本公司有權不經事先通知，逕行暫停或終止您的本網站帳戶，並拒絕您使用全部或部分本服務。
                </p>
                <p>
                    如您不是透過本公司提供之網站或應用程式介面建立新帳戶或使用帳戶，本公司將立即停用您的本網站帳戶，並暫停本網站及/或本公司對您的任何服務。企圖或協助其他會員或其他人以非常規方式達到使用本網站帳戶之目的者，無論是透過何種方式為之(包括但不限於教學指示、軟體或工具
                    )，本公司亦將終止該會員的本網站帳戶。除了終止該帳戶，本公司得就您的違規行為採取進一步之行動。
                </p>
                <p>
                    您應維護您帳戶資料的安全，包括您的密碼和帳戶內之資訊。您應確保帳戶登入憑證之安全性與機密性，避免對您的本網站帳戶遭未經授權存取，並為您帳戶登入系統後所進行之一切活動負責。請盡量不使用公開場所中之公共電腦或與他人共用之電腦存取及/或使用本網站；如您必須使用公共電腦或與他人共用之電腦存取及/或使用本網站，切記於使用後登出您的帳號並刪除您的個人資料。
                </p>
                <p>
                    如您使用本網站時有可疑活動或您的本網站帳戶上有可疑活動，本公司得凍結您的本網站帳戶，並可能要求您提供額外的資訊（包括認證文件），且您有義務協助本公司進行後續處理。您應遵守前述安全要求或接受本公司終止您的本網站帳戶。如您發現您的本網站帳戶或密碼遭未經授權使用或有任何異常可能破壞使用安全之情事時，請立即透過客服通知本公司。本公司得終止違規會員之帳號，並向違規會員主張本公司及/或本網站任何使用者之損害及/或損失。
                </p>
                <p>一旦本公司基於法律或其他政府機關的要求而採取任何行動，由本公司全權酌情決定處置。</p>
                <p>
                    您亦同意，本公司得自行裁量隨時通知終止或停止您對本網站及/或本網站帳戶之存取。如本公司認為會員可能發生違規行為或潛在法律責任，或會員行為不符本網站之業務或目的時（依本公司單方裁量認定），則本公司得採取任何技術或法律措施，將排除會員使用本網站。就本公司單方終止或停止會員帳戶或禁止會員存取本網站之行為，本公司無須對會員或任何第三人負責。本網站帳戶之終止或停止，原則上不影響該本網站帳戶於終止或停止前所為之租賃行為，惟本公司有權於您的本網站帳戶遭終止或停止時，刪除或停止該帳戶下進行中之活動（包括但不限於已完成之租賃訂單），本公司就因刪除或停止該等活動所生的損失或損害，概不負責。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">隱私權保護</h3>
                <p>
                    您的隱私權保護對本公司而言至關重要，本公司將依法保障您的隱私權，相關規定請參閱本網站之<a class="main-link"
                                                                  href="./privacyPolicy.html">隱私權保護政策</a>。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">監視攝影機</h3>
                <p>
                    您知悉並充分理解，本公司為維護租賃空間之安全性及避免違法活動，已於租賃空間中裝設監視攝影機進行錄影(未錄音)，除因前述目的而有調查錄影內容或其他需延長保存之需求，本公司將保存錄影內容至調查結束或主管機關要求之保存期限外，本公司將一律保存錄影內容至少7日（或法令要求之其他期限）。您應確保與您共同使用租賃空間之人已充分理解該租賃空間已設置監視攝影機，並同意本公司依前述目的及方式，錄製您與其使用該租賃空間時之影像及保存該錄影內容。您同意並理解，您於本網站預訂租賃本公司出租之租賃空間時，即代表您已同意本公司於您使用租賃空間時進行錄影，並保存相關錄影內容。
                </p>
                <p>
                    除經您以及與您共同使用租賃空間之人之同意，本公司不會使用、公開您的錄影紀錄，或將該錄影紀錄與他人分享。惟您瞭解並同意，本公司基於以下目的之合理必要範圍內，認定必須將與您相關之錄影內容加以保存或揭露予政府機關、司法機關、未成年人之監護人或他人時，得依本公司決定之方式逕自加以保存及揭露：
                </p>
                <ul>
                    <li>為遵守法令或政府機關之要求；</li>
                    <li>為防止他人權益之重大危害而有必要；</li>
                    <li>為免除使用租賃空間之人及公眾之生命、身體、自由、權利、財產上之急迫危險；</li>
                    <li>為協助釐清爭議或糾紛之責任歸屬；及/或其他本公司認為有必要的情況。</li>
                </ul>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">預訂與付款</h3>
                <h4 class="rules-title">預訂：</h4>
                <ol>
                    <li>
                        成立訂單：會員一旦透過本網站完成預訂程序，即表示您不可撤回地提出要約，並已詳閱並願意依照本使用者條款及本網站載明之交易條件或限制租用本公司管理之租賃空間。會員所留存之資料（包括但不限於地址、電子郵件及電話）如有變更，應立即至本網站修改所留存之資料，或通知本公司變更之，且不得以資料不符為理由，否認已完成租賃或拒絕付款。本公司將盡力維護本網站刊登之租賃空間之資料的正確性，惟本公司不保證本網站就租賃空間之資料均為完整、正確、即時之資訊，如您對租賃空間有任何疑問（包括但不限於租賃空間之設備設置等），應事先詢問本公司後再進行預訂。
                    </li>
                    <li>
                        租賃期間：租賃期間係指您對特定租賃空間預訂完成之租用時間。您應於租賃期間結束時立即停止使用並離開租賃空間。如您欲繼續使用空間，請再次預約該租賃空間，惟您是否能成功預約該租賃空間，需視該場地之實際狀況決定，本公司不保證您能再次租用該租賃空間。
                    </li>
                    <li>
                        超時費用：如您未依規定完成加時延長，卻仍於租賃期間結束後停留於租賃空間，您須支付超時費用，並立即離開該租賃空間。超時費用以每5分鐘（未滿5分鐘者按5分鐘計算）按該租賃空間之半小時租賃費用計費。例如：於租賃期間結束後至5分鐘內（包含5分鐘）仍逗留於租賃空間者，超時費用為該租賃空間之半小時租賃費用；於租賃期間結束後5至10分鐘內（包含10分鐘）仍逗留於租賃空間者，超時費用為該租賃空間之1小時租賃費用，以此類推。
                    </li>
                    <li>
                        您應即時確保能完成訂單之付款，如您的付款工具因任何原因於付款日無法完成付款程序，該筆訂單將會被取消。若發生非可歸責於本公司或本網站之付款失敗，您必須自行承受付款失敗所造成之損失或損害。
                    </li>
                    <li>本公司得就您的租賃訂單收取押金，並於確認您無違反本使用者條款後，將押金（不計利息）返還予您。</li>
                </ol>
                <h4 class="rules-title">付款：</h4>
                <ol>
                    <li>
                        您可使用信用卡/簽帳金融卡、或透過本公司之金流服務提供商進行付款。當您完成交易時，將收到信用卡付款成功或點數扣用通知，或由本公司之金流服務提供商提供之交易訊息與雲端發票。
                    </li>
                    <li>
                        您於本網站上之所有消費，皆應以本網站系統自動記錄之電子交易資料為準，如有任何相關紛爭，亦應以該等電子交易資料作為認定基礎。如您發現交易資料有誤，您應立即通知本公司，並應依本公司之要求提出相關證明文件或資訊，如您無法提出相關佐證資訊，恕本公司無法協助修改該交易資料。
                    </li>
                    <li>
                        信用卡/簽帳金融卡付款為提供簡便之信用卡/簽帳金融卡付款服務，您於以信用卡/簽帳金融卡付款前，需扣款於本網站綁定您已註冊開卡之有效信用卡/簽帳金融卡。於您新增信用卡/簽帳金融卡時，本網站會進行一筆新台幣1元之信用卡/簽帳金融卡交易測試，以確認該信用卡/簽帳金融卡可於本網站上付款，但本公司不會就該測試交易向您請款。當您的信用卡/簽帳金融卡成功加入您的本網站帳戶後，即表示您已獲許可得使用該信用卡/簽帳金融卡進行本服務相關交易。當您完成訂單時，即表示您授權本公司（及本公司相關之服務提供商）以您指定使用於該交易之信用卡/簽帳金融卡收取交易全額款項。您必須自行維護您的信用卡/簽帳金融卡之機密安全，並同意不得以竊盜、冒用等不當手法取得信用卡/簽帳金融卡之資訊用於本網站。如您的信用卡/簽帳金融卡遭到盜用或存在其他任何安全問題，您應立即通知本公司。如您使用簽帳金融卡付款，而您的消費交易金額導致帳戶透支，或有其他手續費需要從您的銀行帳戶扣款，您必須自行負擔該筆費用
                    </li>
                    <li>
                        發票配合財政部雲端發票政策，本公司已經主管機關核准開立雲端發票，不另郵寄紙本發票，並以電子郵件發送發票開立通知信，以茲證明。本公司將於訂單完成後寄送雲端發票，會員可利用電子郵件上之隨機碼加上發票資訊，至財政部電子發票整合服務平台查詢相關發票狀態。本公司僅就單一訂單開立雲端發票證明聯乙次，您於收到後該證明聯後須自行妥善保管，遺失恕不補發。如發票資訊有誤，請立即通知本公司。本公司發票採用系統化自動開立，因此發票上的品名為固定名稱，恕無法指定開立其它品名或指定開立日期。本公司之二聯發票一經開出，恕無法換開為三聯發票，如需三聯式發票，請於預訂時選擇正付款人身分（例如：「公司」），並輸入正確統一編號。您已同意每筆退款授權本公司處理「營業人銷貨退回進貨退出貨或折讓證明單」，待訂單完成退款作業後，將本公司將直接開立折讓單上傳至財政部電子發票整合服務平台存證。
                    </li>
                </ol>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">免責聲明</h3>
                <p>
                    本公司僅從事租賃空間之出租業務，並非以各種方式名義提供不特定人住宿、休息並收取費用及其他相關服務之營利事業，亦未從事任何須主管機關許可（包括但不限於短期補習班業）或違法之業務。租賃空間使用人承租租賃空間所從事之任何活動，皆不構成本公司之業務，本公司概不負責。本公司亦不因租賃空間使用人於租賃空間從事之任何活動，而有義務遵守該租賃空間使用人應適用之法規。
                </p>
                <p>
                    本網站係依現況現狀提供您使用，本公司並保留隨時修改各項服務功能之一部或全部之權利。本公司對於本服務不作任何明示、暗示或法定的擔保、主張或聲明，包括但不限於對於品質、效能、無侵權、適售性或特定用途適用性之擔保，或因使用本網站過程、按慣例或行業常規而衍生之擔保。在不影響上述條款之前提下，且在法律容許的最大限度內，本公司不保證提供本服務、本網站或其中所含功能，或該服務、網站或功能可被存取、不會中斷、及時提供、安全可靠、正確、完整或無錯誤；且如有瑕疵（如有）會被更正；不保證本網站及/或本網站伺服器完全沒有任何病毒、蠕蟲、軟體鎖、致死裝置、木馬、路由、陷阱門、定時炸彈或任何其他有害之程式碼、指令、程式或元件。您應自行隨時確認您所上傳或刊載之訊息是否正確、並自行採取備份存檔等保護措施。本公司對於您使用或無法使用本網站而造成之損害均不負賠償責任，亦不負通知義務。如本公司處理您的任何帳戶活動時發生任何錯誤或遲延，本公司有權修正、移除、撤回或刪除受影響之帳戶活動，本公司對於您因此造成之損害均不負賠償責任。
                </p>
                <p>您充分理解及同意，本公司得因下列情事暫停、變更或終止本服務之全部或一部，無論其通知與否，您同意該等修改、暫停或終止，對於會員或他人因此所致損害，本公司亦不負任何賠償或補償之責：</p>
                <ol>
                    <li>本服務資訊顯示不正確、遭偽造、竄改、刪除或擷取，或本網站系統中斷或不能正常運作時；</li>
                    <li>本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修。</li>
                    <li>會員違反法令或本使用者條款或有違反法令或本使用者條款之虞。</li>
                    <li>天災或其他不可抗力。</li>
                    <li>其他本公司認定有需要暫停、變更或終止本服務之全部或一部之情形。</li>
                </ol>
                <p>本公司已就本服務投保公共意外責任險。您承認在法律容許的最大限度內，您個人應承擔使用本網站及/或本服務或其效能之全部相關風險。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">安全保證</h3>
                <p>
                    您應注意勿將您的本網站帳號及/或密碼給予他人，或允許他人存取或使用之，並應保密及妥善保管您的本網站帳號及密碼。請勿使用可輕易辨識之資料作為本網站帳號及密碼，例如：您的生日、電話號碼、或您姓名中可辨識的字彙。倘您認為您的本網站帳號及/或密碼已為他人所知、或已遺失或遭竊，則您應即時變更您的本網站帳號及/或密碼，並有責任立即通知本公司。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">責任限制</h3>
                <p>
                    在法律許可下，除因重大過失或故意行為所致之直接損失外，本公司將不負責任何本網站、本服務及/或本公司行為所造成之任何損害及/或損失。如本公司對任何會員需負任何賠償責任，本公司對單一會員之賠償責任應以對該會員所收取之費用（如有）為上限。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">稅務</h3>
                <p>
                    會員知悉並同意所有與使用本服務相關的納稅責任應由會員依照相關法律負擔，本公司不提供相關法律或稅務上之建議。因稅務法規可能隨時更新，會員如有任何疑問應即時尋求專業意見。您因使用本服務衍生之稅務相關問題，一切依照應適用之稅法等相關法律處理。稅捐機關如提出要求，本網站將依稅捐機關之要求提供本網站使用者之資訊或進行扣繳。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">賠償</h3>
                <p>
                    在適用法律許可之最大範圍內，對於因您使用本網站、本服務、本網站帳戶或因您違反本使用者條款，致使本公司、董事、股東、員工、代理人、關係企業及／或合作廠商遭受任何訴訟、賠償責任、訴訟費用、賠償請求、直接或間接之損失或損害等，您同意全額（包含律師費用）賠償本公司、董事、股東、員工、代理人、關係企業及／或合作廠商。
                </p>
                <p>除前述規定外，您同意違反以下事項之懲罰性賠償金如下：</p>
                <ol>
                    <li>租賃空間之密碼為預訂時間前5分鐘生效，不得提早進入，違者罰款新台幣1,000元。</li>
                    <li>未準時離場，如逾時使用將依超時規範額外收取超時之費用。如因您未準時離開租賃空間而造成他人之損失或損害，您應就本公司或該他人之損失及損害負全部責任。</li>
                    <li>如製造髒亂、遺留垃圾、環境未復原或租賃空間之裝潢汙損，依本公司判斷之情節嚴重性，罰款新台幣1,000至5,000元。</li>
                    <li>如造成家具設備損壞，依本公司判斷之情節嚴重性，必須支付該物品購買金額50%至100%之費用。</li>
                    <li>於租賃空間內外抽菸（含窗戶、陽台、大樓公共區域等）者，依本公司判斷之情節嚴重性，罰款新台幣2,000至10,000元。</li>
                    <li>使用薰香、蠟燭等任何明火設備及從事烹飪活動者，依本公司判斷之情節嚴重性，罰款新台幣2,000至10,000元。</li>
                    <li>使用麥克風等擴音設備，以及進行唱歌、樂器演奏等妨礙安寧之活動者，依本公司判斷之情節嚴重性，罰款新台幣500至1,000元。</li>
                    <li>將租賃空間內家具設備搬出，或將個人物品占用公共區域者，依本公司判斷之情節嚴重性，罰款新台幣500至1,000元之費用。</li>
                    <li>攜帶動物（障礙輔助犬，例如：導盲犬、導聾犬或其他輔助犬不在此限）者，依本公司判斷之情節嚴重性，罰款新台幣500至1,000元之費用。</li>
                    <li>
                        從事涉及有關毒品、性愛、攜帶危險物品及賭博等違反法令規定、公共秩序或善良風俗、本使用者規範之行為者，依本公司判斷之情節嚴重性，罰款新台幣2,000至10,000元之費用，且後續將交由執法單位辦理。
                    </li>
                </ol>
                <p>如您因違反租賃空間使用規範或相關大樓管理相關規範而衍生任何損害賠償或罰款，您充分理解並同意，本公司得就該損害賠償或罰款之金額直接由您的押金或信用卡扣款。</p>
                <p>您已充分理解並同意，本公司就您於租賃空間或公共區域放置之物品不負責任何保管及賠償責任。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">使用者條款之修訂</h3>
                <p>
                    本公司有權隨時修改或變更本使用者條款之內容，或暫停、終止本服務，且毋須另行通知。本使用者條款一旦發生變動，本公司將在本網站上公布其修改內容，建議您隨時注意該等修改或變更。本公司修改後之本使用者條款一旦於本網站上公布，即有效取代先前與您之間的使用者條款。如您於本使用者條款之任何修改或變更後繼續使用本網站及/或本服務，即視為您已閱讀、瞭解並同意接受該等修改或變更。
                </p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">爭議解決</h3>
                <p>
                    本使用者條款之效力、解釋、適用及爭議解決，均應以台灣法律為準據法，並依該法解釋。凡雙方因使用本網站、本服務及/或違反本使用者條款所引起之一切糾紛、爭議或歧見，雙方同意先本於誠信原則協商之，協商不成而涉訟時，雙方同意以台灣台北地方法院為第一審管轄法院。
                </p>
                <p>您與本公司僅得以自己名義對他方提起主張與請求，不可為任何團體訴訟、代表訴訟、合併程序或包含多位聲請人之程序的當事人。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">棄權</h3>
                <p>如本公司遲延或未執行依本使用者條款所擁有權利時，不構成對該等權利之棄權。</p>
            </section>
            <section class="rules-section">
                <h3 class="rules-title">完整性</h3>
                <p>本使用者條款及本公司公布之任何政策或規則構成您與本公司間之完整合約，並取代雙方先前之任何形式的合意、溝通或建議 (包括但不限於舊版使用者條款)。</p>
                <p>如您對上述使用者條款有任何疑問或意見，或您獲悉與本網站及/或本公司相關之任何違規或違法行為，請洽詢及/或通知本公司。</p>
            </section>
        </article>
    </div>
</div>
{{end}}
{{define "js"}}{{end}}